* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin-top: 50px;
	background-image: url('../../assets/images/bg.jpg');
	background-size: cover;
	height: 90vh;
	font-family: 'Mansalva', cursive;
}
h1, h2 {
	/*text-shadow: 2px 2px #fff;*/
	-webkit-text-stroke: 2px white;
}
button {
	background-color: whi;
}
.character {
	position: absolute;
	width: 100px;
}

#ai {
	top: 300px;
}

#player {
	top: 500px;
}

#try {
	bottom: 20;
	right: 500;
	/*position: fixed;*/
}