* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin-top: 20px;
	background-image: url('../../assets/images/bg.jpg');
	background-size: cover;
	height: 90vh;
	font-family: 'Mansalva', cursive;
}
h1, h2 {
	/*text-shadow: 2px 2px #fff;*/
	-webkit-text-stroke: 2px white;
}

.character {
	position: absolute;
	width: 100px;
	display: none;
}

#player {
	top: 250px;
}

#ai {
	top: 400px;
}

a, a:hover {
	color: white;
	text-decoration: none;
}

.difficulty {
	display: none;
}

#try, #fast1 {
	display: none;
}

.btn {
	background-color: #030636;
	color: #BFE2FA;
	border: 1px dashed #fff;
}

.btn:hover {
	color: #030636;
	background-color: #BFE2FA;
}